
:root {
    --cor-fundo: #01080E; /* Fundo escuro */
    --cor-principal: #005EB8; /* Azul Olímpico */
    --cor-secundaria: #FFD700; /* Amarelo Olímpico */
    --cor-destaque: #34A853; /* Verde Olímpico */
    --cor-texto: #000000; /* Texto branco */
    --cor-fundo-claro: #FFFFFF; /* Fundo claro */
    --cor-principal-claro: #F3F4F6; /* Fundo claro principal */
    --cor-secundaria-claro: #E2E8F0; /* Fundo claro secundário */
    --cor-destaque-claro: #2D3748; /* Texto escuro */
    --cor-texto-claro: #000000; /* Texto escuro */
    --cor-botao-claro: #34A853; /* Cor do botão no modo claro */
    --cor-botao-texto-claro: #FFFFFF; /* Cor do texto do botão no modo claro */
    --cor-borda: #34A853; /* Cor da borda verde */
    --cor-toggle-mode: #010f05; /* Cor da borda verde */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body.light-mode {
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-claro);
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    position: relative;
    border: 2px solid var(--cor-borda);
    border-radius: 15px;
}

body.light-mode .caixa-principal {
    background-color: var(--cor-principal-claro);
    border-color: var(--cor-borda);
}

h1 {
    color: var(--cor-destaque);
}

body.light-mode h1 {
    color: var(--cor-destaque-claro);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;/* Adicionado margem para separar os botões */
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.toggle-mode {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--cor-toggle-mode);
}

body.light-mode .toggle-mode {
    background-color: var(--cor-botao-claro);
    color: var(--cor-botao-texto-claro);
}

body.light-mode .toggle-mode:hover {
    background-color: var(--cor-destaque-claro);
    color: var(--cor-principal-claro);
}
