:root {
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
    --cor-fundo-claro: #F3F4F6;
    --cor-principal-claro: #FFFFFF;
    --cor-secundaria-claro: #E2E8F0;
    --cor-destaque-claro: #2D3748;
    --cor-texto-claro: #1A202C;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body.light-mode {
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-claro);
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    position: relative;
}

body.light-mode .caixa-principal {
    background-color: var(--cor-principal-claro);
}

h1 {
    color: var(--cor-destaque);
}

body.light-mode h1 {
    color: var(--cor-destaque-claro);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.toggle-mode {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
